###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [2]:
import pandas as pd
import numpy as np
d1=pd.read_csv('college_1.csv')
d1

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0
...,...,...,...,...,...,...,...
79,KarthikeyanS,45.0,0.0,0,0,Electronics and Electrical Engineering,0
80,BARATH.P,29.0,0.0,0,0,Electronics and Electrical Engineering,0
81,N.Ajith kumar,82.0,0.0,0,0,Electronics and Electrical Engineering,0
82,mohamed nabi,0.0,0.0,0,0,Electronics and Electrical Engineering,0
83,yaser ahamed.A,0.0,27.0,0,0,Electronics and Electrical Engineering,0

In [3]:
d2=pd.read_csv("college_2.csv")
d2

,Name,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Department,Rising
0,ASHOK KUMAR K,100,0,31,9,19400,19400,Electronics and Electrical Engineering,0
1,Chandru,0,20,0,0,14150,14490,Computer Science and Engineering,340
2,Ganesh Ramkumar R,-1,55,24,6,8790,10790,Computer Science and Engineering,2000
3,Bodipudi Harini,-1,0,35,-1,10040,10040,Electronics and Communication Engineering,0
4,VIINU V P,-1,100,24,-1,9150,9150,Electronics and Electrical Engineering,0
5,Poojitha Y,0,78,35,0,7210,8970,Computer Science and Engineering,1760
6,Gowtham Chandrasekaran,-1,0,0,3,7250,8950,Computer Science and Engineering,1700
7,Gowtham R,-1,60,4,6,8650,8650,Electronics and Communication Engineering,0
8,shifak N,58,0,0,0,5180,8320,Electronics and Electrical Engineering,3140
9,Balaji,-1,100,20,0,6170,8160,Electronics and Electrical Engineering,1990
10,Rushitha,-1,15,62,9,7470,8090,Computer Science and Engineering,620
11,Balaraman Muthupandi,-1,9,0,0,7670,8050,Computer Science and Engineering,380
12,JPradhap,100,0,0,0,7340,8030,Electronics and Electrical Engineering,690
13,SRIRAMKUMAR B,-1,0,0,0,6400,7940,Computer Science and Engineering,1540
14,Praneetha,-1,23,100,-1,7170,7730,Electronics and Communication Engineering,560
15,Rahul Raj K,-1,0,0,0,6280,7640,Computer Science and Engineering,1360
16,Guhan S,-1,72,35,39,7310,7630,Electronics and Communication Engineering,320
17,Suryarajan S,-1,63,31,0,6710,7550,Computer Science and Engineering,840
18,Narasimhan Y L,-1,-1,0,0,4800,6800,Computer Science and Engineering,2000
19,Leelakrishna,-1,6,4,0,5300,6640,Computer Science and Engineering,1340
20,PremsagarReddy,-1,20,0,0,5290,6290,Computer Science and Engineering,1000
21,pradeeban,16,20,24,0,6060,6090,Computer Science and Engineering,30
22,santhoshini,-1,43,0,0,3910,5740,Computer Science and Engineering,1830
23,MUKESH S M,-1,46,0,0,5200,5200,Computer Science and Engineering,0
24,P.GOVARDHANAN,-1,40,0,-1,5050,5050,Electronics and Communication Engineering,0
25,SHAIK DANISH,-1,43,0,0,4050,4820,Computer Science and Engineering,770
26,sridhar.s,-1,52,0,0,3860,4440,Computer Science and Engineering,580
27,Vimalesh Fernando,-1,0,0,0,4170,4170,Computer Science and Engineering,0
28,M.Karthikeyan,-1,0,4,6,4020,4020,Computer Science and Engineering,0
29,Abishak s,-1,55,35,6,3220,3220,Electronics and Communication Engineering,0
30,praveen raj j,24,-1,0,0,2380,2380,Computer Science and Engineering,0
31,AMARNATH D,-1,52,12,-1,1890,1890,Electronics and Communication Engineering,0
32,bala,32,49,0,-1,1720,1720,Electronics and Communication Engineering,0
33,XY Z,-1,20,-1,-1,0,0,Computer Science and Engineering,0
34,Hariharan,-1,-1,-1,0,0,0,Computer Science and Engineering,0

In [ ]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               84 non-null     object
 1   python             84 non-null     float64
 2   mysql              84 non-null     float64
 3   Previous Geekions  84 non-null     int64
 4   CodeKata Score     84 non-null     int64
 5   Department         84 non-null     object
 6   Rising             84 non-null     int64
dtypes: float64(2), int64(3), object(2)
memory usage: 4.7+ KB

In [ ]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    35 non-null     object
 1   python                  35 non-null     int64
 2   python_en               35 non-null     int64
 3   mysql                   35 non-null     int64
 4   computational_thinking  35 non-null     int64
 5   Previous Geekions       35 non-null     int64
 6   CodeKata Score          35 non-null     int64
 7   Department              35 non-null     object
 8   Rising                  35 non-null     int64
dtypes: int64(7), object(2)
memory usage: 2.6+ KB

In [ ]:
d1.isnull().sum()

Name                 0
python               0
mysql                0
Previous Geekions    0
CodeKata Score       0
Department           0
Rising               0
dtype: int64

In [ ]:
d2.isnull().sum()

Name                      0
python                    0
python_en                 0
mysql                     0
computational_thinking    0
Previous Geekions         0
CodeKata Score            0
Department                0
Rising                    0
dtype: int64

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [4]:
#d=d1.append(d2)
df = pd.concat(map(pd.read_csv, ['college_1.csv', 'college_2.csv']), ignore_index=True)
df

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
114,praveen raj j,24.0,0.0,2380,2380,Computer Science and Engineering,0,-1.0,0.0
115,AMARNATH D,-1.0,12.0,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
116,bala,32.0,0.0,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
117,XY Z,-1.0,-1.0,0,0,Computer Science and Engineering,0,20.0,-1.0
118,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

In [5]:
#df['python_en'].fillna(0,inplace=True)
df.fillna(0,inplace=True)
df

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,0.0,0.0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,0.0,0.0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,0.0,0.0
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,0.0,0.0
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
114,praveen raj j,24.0,0.0,2380,2380,Computer Science and Engineering,0,-1.0,0.0
115,AMARNATH D,-1.0,12.0,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
116,bala,32.0,0.0,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
117,XY Z,-1.0,-1.0,0,0,Computer Science and Engineering,0,20.0,-1.0
118,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [ ]:
excedexpect=df[df['CodeKata Score'] >15000]
excedexpect.to_csv("ExceededExpectations.csv")
print(excedexpect)

             Name  python  mysql  Previous Geekions  CodeKata Score  \
0       A.Dharani    82.0   20.0              24500           24500
1     V.JEEVITHA     82.0   20.0              21740           21740
2     HEMAVATHI.R   100.0  100.0              19680           19680
84  ASHOK KUMAR K   100.0   31.0              19400           19400

                                Department  Rising  python_en  \
0         Computer Science and Engineering       0        0.0
1         Computer Science and Engineering       0        0.0
2         Computer Science and Engineering       0        0.0
84  Electronics and Electrical Engineering       0        0.0

    computational_thinking
0                      0.0
1                      0.0
2                      0.0
84                     9.0

In [ ]:
Reached_expec=df[(df['CodeKata Score']<15000) & (df['CodeKata Score']>10000)]
Reached_expec.to_csv("ReachedExpectations.csv")
print(Reached_expec)

                 Name  python  mysql  Previous Geekions  CodeKata Score  \
3         Mugunthan S   100.0   47.0              10610           10610
85            Chandru     0.0    0.0              14150           14490
86  Ganesh Ramkumar R    -1.0   24.0               8790           10790
87    Bodipudi Harini    -1.0   35.0              10040           10040

                                   Department  Rising  python_en  \
3            Computer Science and Engineering       0        0.0
85           Computer Science and Engineering     340       20.0
86           Computer Science and Engineering    2000       55.0
87  Electronics and Communication Engineering       0        0.0

    computational_thinking
3                      0.0
85                     0.0
86                     6.0
87                    -1.0

In [ ]:
Needs_improv=df[(df['CodeKata Score']<10000) & (df['CodeKata Score']>7000)]
Needs_improv.to_csv("NeedsImprovement.csv")
print(Needs_improv)

                       Name  python  mysql  Previous Geekions  CodeKata Score  \
4               Sathammai.S   100.0    8.0               8980            8980
5              NIVEESHWAR S   100.0    0.0               8200            8200
6             KALAIARASAN K    85.0   47.0               7750            7880
7      MOHAMED ZUBAIR AHMED    82.0    4.0               7020            7020
88                VIINU V P    -1.0   24.0               9150            9150
89               Poojitha Y     0.0   35.0               7210            8970
90   Gowtham Chandrasekaran    -1.0    0.0               7250            8950
91                Gowtham R    -1.0    4.0               8650            8650
92                 shifak N    58.0    0.0               5180            8320
93                  Balaji     -1.0   20.0               6170            8160
94                 Rushitha    -1.0   62.0               7470            8090
95     Balaraman Muthupandi    -1.0    0.0               7670            8050
96                 JPradhap   100.0    0.0               7340            8030
97            SRIRAMKUMAR B    -1.0    0.0               6400            7940
98                Praneetha    -1.0  100.0               7170            7730
99              Rahul Raj K    -1.0    0.0               6280            7640
100                 Guhan S    -1.0   35.0               7310            7630
101            Suryarajan S    -1.0   31.0               6710            7550

                                    Department  Rising  python_en  \
4             Computer Science and Engineering       0        0.0
5             Computer Science and Engineering       0        0.0
6    Electronics and Communication Engineering     130        0.0
7             Computer Science and Engineering       0        0.0
88      Electronics and Electrical Engineering       0      100.0
89            Computer Science and Engineering    1760       78.0
90            Computer Science and Engineering    1700        0.0
91   Electronics and Communication Engineering       0       60.0
92      Electronics and Electrical Engineering    3140        0.0
93      Electronics and Electrical Engineering    1990      100.0
94            Computer Science and Engineering     620       15.0
95            Computer Science and Engineering     380        9.0
96      Electronics and Electrical Engineering     690        0.0
97            Computer Science and Engineering    1540        0.0
98   Electronics and Communication Engineering     560       23.0
99            Computer Science and Engineering    1360        0.0
100  Electronics and Communication Engineering     320       72.0
101           Computer Science and Engineering     840       63.0

     computational_thinking
4                       0.0
5                       0.0
6                       0.0
7                       0.0
88                     -1.0
89                      0.0
90                      3.0
91                      6.0
92                      0.0
93                      0.0
94                      9.0
95                      0.0
96                      0.0
97                      0.0
98                     -1.0
99                      0.0
100                    39.0
101                     0.0

In [ ]:
Unsat=df[df['CodeKata Score']<7000]
Unsat.to_csv("Unsatisfactory.csv")
print(Unsat)

                Name  python  mysql  Previous Geekions  CodeKata Score  \
8         J.SUGANTHI    27.0  50.00               5860            5860
9       thamizhpaana    29.0   0.00               5500            5500
10   Iyappan Samiraj    50.0  24.00               5400            5400
11      Ponniyamma.R   100.0  11.25               5380            5380
12         SABAPATHI   100.0   0.00               5280            5280
..               ...     ...    ...                ...             ...
114    praveen raj j    24.0   0.00               2380            2380
115       AMARNATH D    -1.0  12.00               1890            1890
116             bala    32.0   0.00               1720            1720
117             XY Z    -1.0  -1.00                  0               0
118        Hariharan    -1.0  -1.00                  0               0

                                    Department  Rising  python_en  \
8    Electronics and Communication Engineering       0        0.0
9             Computer Science and Engineering       0        0.0
10   Electronics and Communication Engineering       0        0.0
11            Computer Science and Engineering       0        0.0
12            Computer Science and Engineering       0        0.0
..                                         ...     ...        ...
114           Computer Science and Engineering       0       -1.0
115  Electronics and Communication Engineering       0       52.0
116  Electronics and Communication Engineering       0       49.0
117           Computer Science and Engineering       0       20.0
118           Computer Science and Engineering       0       -1.0

     computational_thinking
8                       0.0
9                       0.0
10                      0.0
11                      0.0
12                      0.0
..                      ...
114                     0.0
115                    -1.0
116                    -1.0
117                    -1.0
118                     0.0

[93 rows x 9 columns]

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [ ]:
d=df[['Previous Geekions', 'CodeKata Score']].mean()
d

Previous Geekions    3842.352941
CodeKata Score       4051.764706
dtype: float64

###### No of students participated

In [ ]:
nofstu=df['Name'].count()
nofstu

119

###### #Average completion of python course or my_sql or python english or computational thinking

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [ ]:
df.nlargest(3,'CodeKata Score')

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,0.0,0.0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,0.0,0.0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,0.0,0.0

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [ ]:
df.nlargest(3,'Previous Geekions')

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,0.0,0.0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,0.0,0.0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,0.0,0.0

###### Department wise codekata performence (pie chart)

In [6]:
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
fig=px.pie(df,names='Department',values='CodeKata Score',title='Department wise codekata performance')
fig.update_traces(textinfo='percent+label',textposition='inside')

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [9]:
fig=px.bar(df,x='Department',y='CodeKata Score',title='Department wise Codekata Score')
fig.show()