In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

**Step 2: Importing dataset**

In [ ]:
df=pd.read_csv("Data.csv")

In [ ]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [ ]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
salmean =df.Salary.mean()
agemean=df.Age.mean()

In [ ]:
#since the datset is havning only 9 rows it is better to impute with mean rather than deleting
df['Age']= df.Age.fillna(round(agemean,1))
df['Salary']= df.Salary.fillna(round(salmean,1))

**Step 4: Encoding categorical data**

In [ ]:
df.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [ ]:
le = LabelEncoder()
#df['Country'] = le.fit_transform(df['Country'])
df['Purchased'] = le.fit_transform(df['Purchased'])

In [ ]:
df

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0  63777.8          1
5   France  35.0  58000.0          1
6    Spain  38.8  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

**Step 5: Creating a dummy variable**

In [ ]:
df=pd.get_dummies(df,prefix="country",columns=["Country"])

In [ ]:
df

    Age   Salary  Purchased  country_France  country_Germany  country_Spain
0  44.0  72000.0          0               1                0              0
1  27.0  48000.0          1               0                0              1
2  30.0  54000.0          0               0                1              0
3  38.0  61000.0          0               0                0              1
4  40.0  63777.8          1               0                1              0
5  35.0  58000.0          1               1                0              0
6  38.8  52000.0          0               0                0              1
7  48.0  79000.0          1               1                0              0
8  50.0  83000.0          0               0                1              0
9  37.0  67000.0          1               1                0              0

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
x=df.drop(columns=["Purchased"])
y=df["Purchased"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=5)

**Step 7: Feature Scaling**

In [ ]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)